:root {
    --blanco:#FFFFFF;
    --colorPalido: #D4E9F7;
    --colorClaro1: #A6C8E4;
    --ColorClaro2:#FFF9D6;
    --colorFuerte: #7092B8;
}

body {
    background-color: var(--colorPalido);
    background-repeat: no-repeat;

}

.barraDeNavegacion {
    background-color: var(--colorClaro1);
    margin-top: 10px;
    margin-left: 10%;
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    
}

.cuerpo{
    background-color:var(--ColorClaro2);
   flex: 1;
   min-width: 0;
   max-height: 60%;
}

.item{
    flex:1;
    padding-top: 15px;
    margin-left: 3px;
    margin-right: 3px;
    border: 2px black solid;
    text-align: center;
}

.itemSeleccionado{
    flex:1;
    padding-top: 15px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: var(--colorFuerte);
    border: 2px black solid;
    text-align: center;
}

.container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    max-height: 70%;
}
/*********************************************************************/

#contenedorTabla{
    flex:1;
    width: auto;
    background-color: var(--colorPalido);
    border: solid black 2px;
    margin-top: 20px;
    margin-left: 3%;
    max-width: 94%;
    max-height: 400px;
    overflow-y: scroll;
}
table {
    border-collapse: separate; 
    border-spacing: 2px; 
    width: 100%; 
}

table th, table td {
    border: 1px solid black;
    padding: 8px; 
}

table tr {
    border-top: 2px solid black; 
    border-bottom: 2px solid black; 
}

table tr:first-child {
    border-top: none; 
}

table tr:last-child {
    border-bottom: none;
}

table td:first-child {
    border-left: none; 
}

table td:last-child {
    border-right: none;
}

/*********************************************************************/

.cajaDatos{
    flex:0 0 300px;
    margin-top: 20px;
    background-color: var(--colorFuerte);
    margin-left: 2%;
    width: 300px;
}
.contenedorDatos{
    display: block;
}
input{
    margin-top: 5px;
    margin-bottom: 5px;
}
input[type="number"]{
    width: 100px;
    display: inline;
    margin-top: 15px;

}
input[type="text"]{
    display: inline;
    margin-top: 15px;

}
button{
    display: inline;
}
.campo{
    display: block;
}

.cajaUsuario {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    position: relative;
    background-color: var(--colorFuerte);
    float: right;
  }
  
  .head {
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 13px;
  }
  
  .body {
    width: 32px;
    height: 25px;
    background-color: black;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    position: absolute;
    bottom: 0;
    left: 10px;
  }