:root {
    --blanco: #FFFFFF;
    --colorBody: #7EB1BC;
    --colorInput: #1F8BCA;
    --colorTexto: black;
    --colorBotones: #E9C493;
    --colorCajaDatos: #506248;
}

body {
    background-color: var(--colorBody);
    background-repeat: no-repeat;
}

.barraDeNavegacion {
<<<<<<< HEAD
    background-color: var(--colorBody);
=======
    background-color: var(--colorClaro1);
    margin-top: 10px;
>>>>>>> 122f52c10f8cc85aed1e76066cf82b26c9c38683
    margin-left: 10%;
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.cuerpo {
    background-color: var(--colorBody);
    flex: 1;
    min-width: 0;
    max-height: 60%;
}

.item {
    flex: 1;
    padding-top: 15px;
    margin-left: 3px;
    margin-right: 3px;
    border: 2px black solid;
    text-align: center;
}

<<<<<<< HEAD
.container {
=======
.itemSeleccionado{
    flex:1;
    padding-top: 15px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: var(--colorFuerte);
    border: 2px black solid;
    text-align: center;
}

.container{
>>>>>>> 122f52c10f8cc85aed1e76066cf82b26c9c38683
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    max-height: 70%;
}

<<<<<<< HEAD
=======
a {
    color: black; /* Cambia el color del texto a negro */
    text-decoration: none; /* Elimina el subrayado */
  }
  
>>>>>>> 122f52c10f8cc85aed1e76066cf82b26c9c38683
/*********************************************************************/

#contenedorTabla {
    flex: 1;
    width: auto;
    background-color: var(--colorBody);
    border: solid black 2px;
    margin-top: 20px;
    margin-left: 3%;
    max-width: 94%;
    max-height: 400px;
    overflow-y: scroll;
}

table {
<<<<<<< HEAD
    table-layout: fixed;
}

table th,
table td {
    width: 10%;
    padding: 10px;
    text-align: left;
=======
    border-collapse: separate; 
    border-spacing: 2px; 
    width: 100%; 
}

table th, table td {
    border: 1px solid black;
    padding: 8px; 
}

table tr {
    border-top: 2px solid black; 
    border-bottom: 2px solid black; 
}

table tr:first-child {
    border-top: none; 
}

table tr:last-child {
    border-bottom: none;
}

table td:first-child {
    border-left: none; 
}

table td:last-child {
    border-right: none;
>>>>>>> 122f52c10f8cc85aed1e76066cf82b26c9c38683
}

/*********************************************************************/

.cajaDatos {
    flex: 0 0 300px;
    background-color: var(--colorCajaDatos);
    margin-left: 2%;
    width: 290px;
}

.contenedorDatos {
    display: block;
}
<<<<<<< HEAD
=======
input{
    margin-top: 5px;
    margin-bottom: 5px;
}
input[type="number"]{
    width: 100px;
    display: inline;
    margin-top: 15px;
>>>>>>> 122f52c10f8cc85aed1e76066cf82b26c9c38683

input {
    margin-top: 15px;
    margin-left: 10px;
    width: 250px;
    height: 20px;
    background-color: var(--colorInput);
    border: none;
}

input::placeholder {
    color: var(--colorTexto);
}

input[type="checkbox"] {
    width: 10px;
    display: inline;
    margin-top: 15px;
}

button {
    display: inline;
    margin-left: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--colorTexto);
    background-color: var(--colorBotones);
    border: none;
}

button:hover {
    background-color: #E9C400;
    cursor: pointer;
}

.campo {
    display: block;
}

.enlaceCajaUsuario{
    float: right;
}
.cajaUsuario {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    position: relative;
    background-color: var(--colorFuerte);
  }
  
  .head {
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 13px;
  }
  
  .body {
    width: 32px;
    height: 25px;
    background-color: black;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    position: absolute;
    bottom: 0;
    left: 10px;
  }